@import '../../shared/styles/basics';

@mixin tab-nav-tab-underline {
  content: '';
  @include u-bg('blue-warm-60v');
  @include u-radius('0');
  @include u-display('block');
  @include u-position('absolute');
  @include u-height('05');
  @include u-left('2');
  @include u-right('2');
  @include u-bottom(0);
}

.tab-nav {
  .tab-list-container {
    @include u-margin('0');
    @include u-padding-left('2');
    @include clearfix;
    @include u-border-bottom('2px', 'gray-cool-10');
  }

  .tab-list {
    @include add-list-reset;
    @include u-padding-left('0');

    li {
      @include u-display('inline');

      a {
        @include u-text('gray-50', 'no-underline');
        @include u-display('inline-block');
        @include u-height('6');
        @include u-padding('2');
        @include u-line-height('sans', 1);
        @include u-position('relative');
      }

      a.tab-with-notice {
        @include u-padding-right('05');
      }

      a:hover {
        .tab-title::after {
          @include u-text('blue-warm-60v');
          @include tab-nav-tab-underline;
        }
      }

      a.tab-with-notice {
        .tab-title::after {
          @include u-right('05');
        }
      }
    }

    li.tab-active {
      a {
        @include u-text('gray-cool-70', 'bold');
        .tab-title::after {
          @include tab-nav-tab-underline;
        }
      }

      a.tab-with-notice {
        .tab-title::after {
          @include u-right('05');
        }
      }
    }

    a:focus {
      @include u-outline('05', 'blue-40v');
    }

    :global .usa-tag {
      @include u-margin-right('2');
      @include u-text('gray-cool-70');
      @include u-bg('gold-20v');
    }
  }
}
